* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1194px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}

.header {
    margin-top: 34px;
    margin-bottom: 15px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo h1 {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.header-logo p {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
}

.header-controls a {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: black;
    text-decoration: none;
}

.header-controls--mobile {
    display: none;
    align-self: flex-start;
}

.header-controls a:hover {
    color: rgb(255, 73, 73);
}

.search-box {
    border-radius: 5px;
    background: rgb(255, 73, 73);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    gap: 8px;
    height: 50px;
}

.search-box input {
    flex-grow: 1;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 30px;
    min-width: 0;
}

.search-box button {
    height: 100%;
    color: white;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    outline: none;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .header-controls--mobile {
        display: block;
    }

    .header-controls {
        display: none;
    }

    .search-box input {
        padding: 0 15px;
    }
}